*{
    box-sizing: border-box;
}
header{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.container{
    margin-top: 5px;
    height: 250px;
    width: 100%;
}
.parent{
    display: flex;
    flex-direction: row;
}
.child{
    background-color: lightgray;
    height: 250px;
    width: 100%;
    border: 2px solid white;
}
#one{
    flex: 2;
}
#two{
    flex: 3;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

